<launch>
    <arg name="model" default="$(find robot_simulation)/urdf/robot_stella.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <arg name="configuration_basename" default="robot.lua"/>

    <node pkg="robot_simulation" type="robot_simulation_node" name="robot_simulation" output="screen"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>

    <include file="$(find robot_slam)/launch/robot_cartographer.launch">
       <arg name="configuration_basename" value="$(arg configuration_basename)"/>
     </include>

    <!--<node name="rviz" pkg="rviz" type="rviz" />-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_slam)/rviz/robot_slam_rviz.rviz" />

</launch>
